@import "tailwindcss";

@font-face {
    font-family: Tothepoint;
    src: url(./assets/fonts/ToThePointRegular-n9y4.ttf);
}
@font-face {
    font-family: LoveDays;
    src: url(./assets/fonts/LoveDays-2v7Oe.ttf);
}